* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

img {
  display: block;
  max-width: 100%;
}

input {
  all: unset;
}
